@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}
body{
    
    height: 380px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-card{
    max-width: 280px;
    width: 100%;
    background-color: #fff;
    /* height: 500px; */
    border-radius: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0,0,0.2);

}
.image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    

background-color: blue;

   padding: 3px;
}
.image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  border: 3px solid #FFF; 
  
    border-radius: 50%;
}
.profile-card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
}
.profile-card .text-data .name{
    font-size: 25px;
    font-weight: 600;
}
.profile-card .text-data .job{
    font-size: 14px;
    font-weight: 400;
}
.profile-card .media-button{
    margin-top: 18px;
display: flex;

margin: 0 20px;
padding: 0 20px;
}
.profile-card .media-button a{
    background-color:#000;
    margin-top: 10px;
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    height: 28px;
width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-card .media-button .icon{
    padding: 0 10px;
    font-size: 18px;
    margin: 0 10px;
    
}