@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
      font-family: "Poppins", sans-serif;
}
nav{
 background-color: #1b1b1b;
 position: fixed;
 display: flex;
 z-index: 12;
 align-items: center;
 width: 100%;
 height: 78px;
 justify-content: space-between;
 padding: 0 15px;
}
nav .logo span{
    color: #fff;
    font-size: 28px;
    font-weight: 600;
}
nav ul{
    color: #fff;
    /* background-color: red; */
    list-style-type: none;
    display: flex;
    gap: 15px;  
}
nav ul li a{
    text-decoration: none;
font-size: 19px;
color: #fff;
padding: 5px;
border-radius: 8px;
font-weight: 400;
}
nav ul li a:hover{
background-color: #fff;
color: #000;
}
.image{
height: 578px;
width: 100%;
background-size: cover;
background-repeat: no-repeat;
position: relative;
}
.image::before{
    background-size: cover;
    content: "";
    position: absolute;
    height: 100%;
width: 100%;
background-color: rgba(0, 0, 0, 0.4);
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    /* background-color: red; */
    transform: translate(-50%,-50%);
}
.center .data .title{
    font-size: 60px;
    text-align: center;
    font-weight: 600;
    color: #fff;
}
.center .data .sub{
   font-size: 45px;
    text-align: center;
    font-weight: 400;
    color: #fff; 
}
.center .btn{
    text-align: center;
    margin: 9px 0px;
/* display: flex;
justify-content: center;
align-items: center;
gap: 28px; */
}
.center .btn button{
    margin: 0px 25px;
    padding: 10px 15px;
    background-color: #FFF;
    color: #000;
    border: 1px solid #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 12px;
}
.center .btn button:first-child{
    background:none;
    color: #fff;
}
.center .btn button:first-child:hover{
    background:#fff;
    color: #000;
}
.center .btn button:last-child:hover{
    background:none;
    color: #fff;
}